<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <title>Document</title>
</head>

<body>
    <!-- Designing Heading using bootstrap -->
    <div class="container">
        <div class="row">
            <div class="well well-lg" align="center">
                <h1>Belly Button Biodiversity</h1>
                <h1>Dashboard</h1>
                <p>Use the interactive chart below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div class="well well-lg" style=background-color:transparent>
                <div class="row">
                    <div class="col-md-2">
                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                    <div class="col-md-5">
                        <div id="piechart"></div>
                    </div>
                    <div class="col-md-5">dfjhaiudhfaish</div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    
</body>

</html>