<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <title>Document</title>
</head>

<body>
    <!-- Designing Heading using bootstrap -->
    <div class="container">

        <!-- Header  -->
        <div class="row">
            <div class="well well-lg" align="center">
                <h1>Belly Button Biodiversity</h1>
                <h1>Dashboard</h1>
                <p>Use the interactive chart below to explore the dataset</p>
            </div>
        </div>

        <!-- Actual body -->
        <div class="row">
            <div class="well well-lg" style=background-color:transparent>
                <div class="row">
                    <div class="col-md-3">
                        <!-- SELECTOR -->
                        <Strong><h5>SELECT SAMPLE</h5></Strong>
                        <select id="selDataset" onchange="dropDownListener(this.value)"></select>
                        <!-- METADATA ABOUT NAME -->
                        <div id="metadata" style="border-radius: 10px; border-color: lightgrey; border-width: 1px;border-style: solid; padding: 10px; margin: 10px;">
                            <h5 style="background-color: teal; color: white; padding: 10px;">Sample Metadata</h5>
                            <div id="metadata_AGE">AGE: </div>
                            <div id="metadata_BBTYPE">BBTYPE: </div>
                            <div id="metadata_ETHNICITY">ETHNICITY: </div>
                            <div id="metadata_GENDER">GENDER: </div>
                            <div id="metadata_LOCATION">LOCATION: </div>
                            <div id="metadata_SAMPLEID">SAMPLEID: </div>
                        </div>
                    </div>
                    <!-- Piechart -->
                    <div class="col-md-9">
                        <div id="piechart"></div>
                    </div>
                </div>

                <div class="row">
                    <!-- Bubble chart -->
                    <div id="bubbleChart">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    
</body>

</html>